/* Footer Styles */
.footer {
  background-color: hsl(var(--color-zaga-black));
  color: white;
  padding: 2rem ;
}

.footer__container {

  @media (min-width: 640px) {
    padding: 0 1.5rem;
  }
}

.footer__main {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 2rem;
  margin-bottom: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__brandLogo {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

.footer__brandName {
  font-size: 1.25rem;
  font-weight: 700;
  color: hsl(var(--color-zaga-green-gray));
}

.footer__brandTagline {
  opacity: 0.7;
  font-size: 0.875rem;
  font-weight: 400;
  color: hsl(var(--color-zaga-white));
}

.footer__brandDescription {
  font-size: 0.875rem;
  color: hsl(var(--color-zaga-silver));
  line-height: 1.6;
}

.footer__socialLinks {
  display: flex;
  gap: 1rem;
}

.footer__socialLink {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: hsl(var(--color-zaga-gray-800));
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
  text-decoration: none;

  &:hover {
    background-color: hsl(var(--color-zaga-green-gray));
  }
}

.footer__socialIcon {
  width: 1.25rem;
  height: 1.25rem;
}

.footer__section {
  display: flex;
  flex-direction: column;
}

.footer__sectionTitle {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.footer__sectionLinks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__sectionLink {
  font-size: 0.875rem;
  color: hsl(var(--color-zaga-silver));
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: hsl(var(--color-zaga-green-gray));
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer__contactItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.footer__contactIcon {
  width: 1.25rem;
  height: 1.25rem;
  color: hsl(var(--color-zaga-green-gray));
}

.footer__contactText {
  font-size: 0.875rem;
  color: hsl(var(--color-zaga-silver));
}

.footer__bottom {
  //border-top: 1px solid hsl(var(--color-zaga-gray-800));
}

.footer__bottomContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 0;
  }
}

.footer__copyright {
  font-size: 0.875rem;
  color: hsl(var(--color-zaga-silver));
}

.footer__legalLinks {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer__legalLink {
  font-size: 0.875rem;
  color: hsl(var(--color-zaga-silver));
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: hsl(var(--color-zaga-green-gray));
  }
}
